<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input (input)="onChangeLength($event.target.value)"/>
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox"/>
</div>


<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox"/>
</div>


<div>
  <label>Use Symbols</label>
  <input (change)="onChangeSymbols()" type="checkbox"/>
</div>

<div>
  <label>Use Ambiguous Characters</label>
  <input (change)="onChangeAmbiguous()" type="checkbox"/>
</div>

<div>
  <button [disabled]="
    !(length && (includeLetters || includeNumbers || includeAmbiguous || includeSymbols))
  "

  (click)="onButtonClick()">Generate!</button>
</div>


<div>
  <label>Your Password</label>
  <input [value]="generatedPassword"/>
<!--  <input [value]="getPassword()"/>-->
</div>

<!-- {{ password }} -->
